* {
    box-sizing: border-box;
}

        body {
            font-family: 'wfont_b80279_88e0cae7a7204953a2f9c7ef45bbc6ad', 'wf_88e0cae7a7204953a2f9c7ef4', 'orig_bahnschrift', sans-serif; 
            margin: 0;
            padding: 0;
            /* Agregar padding-top para compensar el header fijo */
            padding-top: 80px;
        }

        .site-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            padding: 15px 30px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            /* Propiedades para hacer el header estático */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1000;
        }

.logo img {
    height: 50px; /* Ajusta la altura según tu logo */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0;
    }

    .navbar a {
        padding: 10px 15px;
        width: 100%;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }

    .socialSvg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .site-header {
        padding: 5px 10px;
    }

    .logo img {
        height: 40px; /* Ajusta la altura del logo en pantallas pequeñas */
    }

    .navbar a {
        font-size: 14px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    .socialSvg {
        width: 20px;
        height: 20px;
    }

    .Btn {
        font-size: 14px; /* Ajusta el tamaño del botón */
    }
}
